 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body, html, .App {
  width: 100%;
  background-color: #1e1e1e;
  color: rgb(247, 244, 244);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 40px;
  padding-top: 80px; 
}
.App-header {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px; 
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.left-section h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.left-section p {
  font-size: 1rem;
  margin-bottom: 30px;
  max-width: 80%;
}

.left-section button {
  padding: 10px 20px;
  font-size: 1rem;
background-color: #D2CCB7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.left-section button:hover{
  background-color: gold;
  transform: scale(1.03);
}

.ziya {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.ziya-block {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ziya-block:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.03);
}

.img-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  object-fit: cover;
  background-color: transparent;
  border: none; 
}

 

/*  contact.js */

.main{
  margin-top: -100px;
  padding: 30px;
}
.main2{
  padding: 30px;
} 

/* Media */

 @media (max-width: 768px) {
  .App {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .App-header {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .left-section {
    align-items: center;
    text-align: center;
  }

  .left-section h1 {
    font-size: 2rem;
  }

  .left-section h2 {
    font-size: 1.5rem;
  }

  .left-section p {
    font-size: 0.9rem;
    max-width: 100%;
  }

  .ziya {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .ziya-block {
    width: 100%;
    max-width: 150px;
    height: 150px;
  }

  .img-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .ziya {
    grid-template-columns: repeat(1, 1fr);
  }

  .left-section h1 {
    font-size: 1.7rem;
  }

  .left-section h2 {
    font-size: 1.2rem;
  }

  .left-section p {
    font-size: 0.85rem;
  }

  .left-section button {
    width: 100%;
  }
} 
